<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio</h1></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque facilis earum voluptas vel, voluptates accusamus neque atque dignissimos nostrum! Enim reprehenderit excepturi labore cumque, odit fugiat assumenda inventore facere veritatis!</p>
        </ul>
        <ul>
            <li><h1>Estudio2</h1></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ratione minima vero voluptates sequi. Inventore voluptate deserunt, incidunt in aut esse numquam? Recusandae labore nisi minus aliquid expedita tenetur vel!</p>
        </ul>
    </div>
</div>