<div class="row">
<h1>Mis proyectos</h1>
<div class="container">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>Entradas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim alias necessitatibus error debitis animi laboriosam qui cum saepe recusandae ex? Inventore deserunt eius quia. Tempora ratione eos enim praesentium tenetur!</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 ">
        <img src="" alt="" class="img-fluid img-proyecto" >

    </div>

    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>Afiliados</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quam, aperiam, necessitatibus ea quos molestias hic ipsum aliquid eaque atque nihil id numquam, ratione consequatur consequuntur fuga enim nam! Modi!</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 ">
        <img src="" alt="" class="img-fluid img-proyecto">  
    </div>
</div>

</div>