<div class="row">
    <div class="logos">
    <img src="../../../../ImagenesHeader/Diseño sin título (17).png" id="APLogo">
    </div>
    <div class="redes">
        <a href=""><img src="../../../../ImagenesHeader/linkedin.png" id="linkedin"></a>
    <a href=""><img src="../../../../ImagenesHeader/twitter.png" id="twitter"></a>
    <a href=""><img src="../../../../ImagenesHeader/instagram.png" id="instagram"></a>
    <a href=""><img src="../../../../ImagenesHeader/github.png" id="github"></a>
    <a href=""><img src="../../../../ImagenesHeader/facebook.png" id="facebook"></a>
    <button class="button" class="btn btn-outline light">INGRESAR</button>

    </div>
</div>

